body {
  background-color: rgb(131,157,207);
  color: rgb(33,47,61);
  font-family: Helvetica; sans-serif
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 100;
}

h1 {
  color: rgb(247,225,39);
  font-family: 'Tahoma', sans-serif;
  font-weight: 900;
  letter-spacing: 0px;
  font-size: 30px;
  text-align: center;
  
}

h2 {
  color: #F7E127;
  font-family: Tahoma; sans-serif; 
  font-weight: bold;
    font-size: 28px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 18px;
}
a:hover {
  color: rgb(21, 67, 96);
}


.container {
  width: 700px;
  margin: 80px auto; 
}

.card-white {
  background-color: white;
  padding: 40px;
  margin: 80px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}


}

.btn-blue {
  background-color: rgb(79, 70, 223);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}

.list-inline {
  list-style: none;
  padding-left: 10px;
}
.list-inline li {
    display: inline;
    padding: 15px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(200,200,200);
}
.list-inline i:hover{
  color: rgb(93,109,126);
}

#introduction p {
  margin-bottom: 40px;
}

@media (max-width: 760px) {
    .container {
      width: 600px;
    }
}

@media (max-width: 500px) {
    .container {
      width: 400px;
    }
}
